@import "../../../../scss/variables";


.swiper {
    width: 100%;
    height: 100%;
    --swiper-theme-color:  #E02027;
}


.swiperSlide {
    //width: 325px !important;
}

.arTitleContainer {
    position: absolute;
    color: $textColor;
    top: 50%;
    right: 10%;
    font-kerning: none;
    width: 100%;
    text-align: start;
}

.enTitleContainer {
    position: absolute;
    color: $textColor;
    top: 50%;
    left: 10%;
    font-kerning: none;
    width: 100%;
    text-align: start;
}

//===========================================================
//====================Service Card===========================

.itemHidden {
    visibility: hidden;
}

.titleAria {
    background-color: #E02027a1;
    height: 100px;
    border-bottom-right-radius: 53px;
    border-bottom-left-radius: 53px;
}

//===========================================================

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.cardContainer {
    .bgRed {
        background-color: #E02027;
        color: #fff;
        position: relative;
        padding: 8px;
        &:not(:first-child) {
            &:before {
                content: "";
                position: absolute;
                top: 10%;
                //bottom: 25%;
                right: 0;
                left: 0;
                width: 3px;
                height: 80%;
                background-color: #ffffff;
            }
        }
    }

    &:not(:first-child) {
        .bgRed {
            &:before {
                content: "";
                position: absolute;
                top: 10%;
                //bottom: 25%;
                right: 0;
                left: 0;
                width: 3px;
                height: 80%;
                background-color: #ffffff;
            }
        }
    }
}

