.layout {
    visibility: hidden;
    position: absolute;
    height: 0;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0);
    opacity: 0;
    z-index: 2101;
}

:root {
    --swiper-theme-color: #009688;
    --swiper-navigation-color: #009688;
}

.swiperSlide2 {
    text-align: center;
    //font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px !important;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        height: 350px !important;
    }

    @media screen and (max-width: 500px) {
        height: 250px !important;
    }

    img {
        display: block;
        margin: auto;
        min-width: 300px;
        width: 50%;
        height: 100%;
        //object-fit: cover;
        object-fit: cover;
        object-position: center center;
        -o-object-fit: cover;
        -o-object-position: center center;
    }
}

.swiper {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

.swiperSlide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 125px !important;
    overflow: hidden;

    @media screen and (max-width: 768px) {
        height: 90px !important;
    }

    @media screen and (max-width: 500px) {
        height: 65px !important;
    }

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        //object-fit: cover;
        object-fit: cover;
        object-position: center center;
        -o-object-fit: cover;
        -o-object-position: center center;
    }
}

//.swiper-slide img {
//    display: block;
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
//}
//
//.swiper {
//    width: 100%;
//    //height: 300px;
//    margin-left: auto;
//    margin-right: auto;
//}

//.swiper-slide {
//    background-size: cover;
//    background-position: center;
//}

.mySwiper2 {
    height: 80%;
    width: 100%;
    --swiper-theme-color:  #009688;
}

.mySwiper {
    margin-top: 10px;
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
    --swiper-theme-color:  #009688;
    .swiperSlide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
    }

    .swiper-slide-thumb-active {
        opacity: 1;
    }
}

//.mySwiper .swiper-slide-thumb-active {
//    opacity: 1;
//}

//.swiperSlide {
//    img {
//        display: block;
//        width: 100%;
//        height: 100%;
//        object-fit: cover;
//    }
//
//}
