.mainContainer {
    position: relative;
    .newsBanner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}

.industriesBg {
    background-color: theme('colors.gray.200');
}
