.titleAria {
    background-color: #009688a1;
    height: 100px;
    border-bottom-right-radius: 53px;
    border-bottom-left-radius: 53px;
}

//***************************************
//Gallery Details
root {
    --width: calc(100vw-176px);
}
.serviceCard {
    --width: calc(100vw - 160px);
    margin: 128px 32px 32px;
    border: 2px solid #009688;
    border-radius: 53px;
    padding: 16px;
    position: relative;
    .boxContainer {
        border-radius: 53px;
        padding: 8px;
        background-color: #009688a1;

        .imgFlex {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //gap: 0px;
            flex-wrap: wrap;
            margin-top: 115px;
            .imgCard {
                cursor: pointer;
                padding: 4px;
                margin: auto;
                flex-basis: max(168px, calc((var(--width) - 8px) / 4));
                height: max(168px, calc((var(--width) - 8px) / 4));
                border-radius: 20px;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                }
            }

        }
    }

    .coverAria {
        position: absolute;
        top: -120px;
        left: 6px;
        margin: 16px 0 0;
        padding: 0;
        //height: 300px;
        //border-radius: 53px;
        width: 168px;
        height: 226px;
        border-radius: 20px;
        //height: max(168px, calc((var(--width) - 8px) / 4));
        img {
            //width: 100px;
            //height: 150px;
            //border-radius: 53px;
            object-fit: cover;
            object-position: center center;
            margin: auto;
            //width: max(168px, calc((var(--width) - 8px) / 4));
            width: 100%;
            height: calc(100% - 56px);
            //height: max(168px, calc((var(--width) - 8px) / 4));
            //border-radius: 20px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }

        .titleAria {
            font-weight: bold;
            background-color: #009688;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            height: 56px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
//***************************************
