.imgBorder {
    border: 2px solid #E02027;
    border-radius: 53px;
    width: 325px;
    height: 421px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 53px;
    }

    @media screen and (max-width: 922px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.descriptionAria {
    //background-color: #009688;
    position: absolute;
    right: 0;
    //left: 250px;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 53px;
    background: rgb(0,0,0);
    //background: linear-gradient(90deg, rgba(0,0,0,0.10) 0%, rgba(0,150,136,1) 100%);
    @media screen and (max-width: 922px) {
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        transform: none;
    }
}

.descLeft {
    left: 250px;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.10) 0%, rgba(224,32,39,1) 100%);
    @media screen and (max-width: 922px) {
        left: 0;
    }
}

.descRight {
    left: 0;
    right: 250px;
    background: linear-gradient(270deg, rgba(0,0,0,0.10) 0%, rgba(224,32,39,1) 100%);
    @media screen and (max-width: 922px) {
        right: 0;
    }
}
