.mediaImg {
    width: 100%;
    height: 100%;
    max-height: 350px;
    object-fit: cover;
    background-position: center center;
    background-color: #1a202c;
}

.container {
    padding: 0 !important;
    margin-bottom: 75px;
}

.titleContainer {
    position: absolute;
    padding: 60px 30px;
    //background-color: #1f2937a0;
    color: theme('colors.neutral.100');
    top: 65%;
    left: 50%;
    width: 100%;
    //font-size: theme('fontSize.xl');
    //font-weight: theme('fontWeight.bold');
    transform: translate(-50%, -50%);

    background: #1f2937a0;
    //background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(31,41,55,0.375) 30%,
    //    rgba(31,41,55,0.375) 70%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(15,20,26,0.1) 10%,
        rgba(25,33,44,0.28) 20%, rgba(31,41,55,0.44) 30%,
        rgba(31,41,55,0.48) 40%, rgba(31,41,55,0.5) 50%,
        rgba(31,41,55,0.48) 60%, rgba(31,41,55,0.44) 70%,
        rgba(23,30,40,0.28) 80%, rgba(15,20,26,0.1) 90%,
        rgba(0,0,0,0) 100%);

    //box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.logo {
    position: absolute;
    bottom: -35px;
    left: 100px;
    transform: translate(-50%);
    width: 150px!important;
    height: 150px;
    /* border: 3px solid #ffffff; */
    border-radius: 50%;
    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        border: 3px solid #fff;
        -o-object-fit: cover;
        object-fit: cover;
        background-position: center center;
        background-color: #1a202c;
    }
}

.cameraBadge {
    position: absolute;
    color: theme('colors.gray.700');
    width: 40px !important;
    height: 40px !important;
    bottom: 0;
    right: 10px;
    //opacity: 0.7;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: theme('colors.gray.100');
    padding: 3px;
}
