$closedMarginLeft: -256px;
$openedMarginLeft: 0;
$width: 256px;

.sidebarContainer {
    position: fixed;
    background-color: #ffffff;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1301;
    width: $width;
}

.openSideBar {
    //width: $left;
    margin-left: $openedMarginLeft;
    transition: margin-left 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.closeButton {
    position: absolute;
    top: 6px;
    right: 12px;
}

.closeSideBar {
    margin-left: $closedMarginLeft;
    transition: margin-left 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}


.backdrop {
    left: $width !important;
}
