.addMargin {
    transition: margin 0.3s ease-in-out;
}

.removeMargin {
    transition: margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.showSidebar {
    width: 256px;
    left: 0;
    opacity: 1;
    transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out, left 0.3s ease-in-out;
}

.hideSidebar {
    width:0;
    left: -256px;
    opacity: 0;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}



.boxShadow {
    position: sticky;
    top: 0;
    z-index: 1029;
    //box-shadow: 0 2px 2px 0 rgba(var(--cui-elevation-base-color,60,75,100),.14),0 3px 1px -2px
    //rgba(var(--cui-elevation-base-color,60,75,100),.12),0 1px 5px 0
    //rgba(var(--cui-elevation-base-color,60,75,100),.2);
    box-shadow: 0 2px 3px 0 rgba(var(--cui-elevation-base-color, 60,75,100),0.75);
    -webkit-box-shadow: 0 2px 3px 0 rgba(var(--cui-elevation-base-color,60,75,100),0.75);
    -moz-box-shadow: 0 2px 3px 0 rgba(var(--cui-elevation-base-color,60,75,100),0.75);
}
