$bgColor: #231f20;
$textColor: theme('colors.neutral.100');

$smScreen: 1024px;
$lgScreen: 1025px;

$iconColor: #ddefee;

$theme: #E02027;

//===============================================================
//============================ADMIN==============================

//===============================================================

//===============================================================
//============================SITE===============================
//-----------------DARK
//$darkBGColor: #262626;

//-----------------LIGHT
//$lightBGColor: #fafafa;

//===============================================================
