@import "../../../../../scss/variables";

.navbarBgColor {
    //background-color: transparent !important;
    background-color: #ffffff !important;
}

.bgColor {
    background-color: $bgColor !important;
}
