.swiper {
    max-width: 500px;
    height: 100%;
    cursor: pointer;
    --swiper-theme-color: theme('colors.emerald.700');
}

.swiper-slide {
    //text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;

    //@media screen and (max-width: 768px) {
    //    height: 350px;
    //}
    //
    //@media screen and (max-width: 500px) {
    //    height: 250px;
    //}


}

.mediaImg {
    display: block;
    width: 500px;
    height: 375px;
    object-fit: cover;
    @media screen and (max-width: 499px) {
        width: 100%;
        height: 250px;
    }
}
//
//.swiper-slide img {
//    display: block;
//    width: 500px;
//    height: 375px;
//    object-fit: cover;
//    @media screen and (max-width: 499px) {
//        width: 100%;
//        height: 250px;
//    }
//}

.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

.title-container {
    position: absolute;
    padding: 60px 30px;
    //background-color: #1f2937a0;
    color: theme('colors.neutral.100');
    top: 65%;
    left: 50%;
    width: 100%;
    //font-size: theme('fontSize.xl');
    //font-weight: theme('fontWeight.bold');
    transform: translate(-50%, -50%);

    background: #1f2937a0;
    //background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(31,41,55,0.375) 30%,
    //    rgba(31,41,55,0.375) 70%, rgba(0,0,0,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(15,20,26,0.1) 10%,
        rgba(25,33,44,0.28) 20%, rgba(31,41,55,0.44) 30%,
        rgba(31,41,55,0.48) 40%, rgba(31,41,55,0.5) 50%,
        rgba(31,41,55,0.48) 60%, rgba(31,41,55,0.44) 70%,
        rgba(23,30,40,0.28) 80%, rgba(15,20,26,0.1) 90%,
        rgba(0,0,0,0) 100%);

    //box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    //box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.shadowLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
}

.cardBoxShadow {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: -1px -1px 8px 1px rgba(0,0,0,.75) !important;
    overflow: hidden;
    position: relative;
}

.fontWeightBold {
    font-weight: bold !important;
}
