@import "../../../../../scss/variables";
.imgStyle {
    height: 194px;
    width: 270px !important;
    object-fit: cover;
    object-position: center center;
    -o-object-fit: cover;
    -o-object-position: center center;
}

.shadowBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    z-index: -1;
    background-color: var(--shadow);
    opacity: 0; //Init value is 0!
    box-shadow: 0 0 26px -2px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 26px -2px rgba(0,0,0,0.75);
}

.shadowImgStyle {
    //height: 194px;
    //width: 345px !important;
    object-fit: cover;
    object-position: center center;
    -o-object-fit: cover;
    -o-object-position: center center;
}

.serviceCard {
    //margin: 32px;
    border: 2px solid #231f20aa;
    border-radius: 53px;
    padding: 16px;
    .boxContainer {
        border-radius: 53px;
        padding: 16px;
        background-color: #231f20aa;
        color: #fff;
    }

    .imgAria {
        margin: 16px 0 0;
        padding: 0;
        height: 300px;
        border-radius: 53px;
        img {
            width: 100%;
            height: 300px;
            border-radius: 53px;
            object-fit: cover;
            object-position: center center;
            margin: auto;
        }
    }
}

.titleAria {
    background-color: #E02027a1;
    height: 100px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.enableList {
    ul {
        list-style: initial !important;
    }
}
