@import "../../../../scss/variables";

//$containerBgColor = var(--clr-site-bg-dark);
.bgColor {

    position: relative;
    height: 175px;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        background-color: rgba(#525659, 0.7);
        background-repeat: repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 20px;
    }
}

.borderRadius {
    border-radius: 40px;
}

.textOverlay {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 100%;
    * {
        height: 100%;
        overflow: hidden;
    }
    //overflow-y: hidden;
}

.imgBorder {
    //border: 2px solid #009688;
    position: relative;
    z-index: 10;
    //border-radius: 53px;
    border-top-right-radius: 100px;
    clip-path: polygon(
            0 0,
            100% 0,
            90% 100%,
            0 100%
    );

    img {
        //border-top-left-radius: 50px;
        //border-bottom-left-radius: 50px;
        //border-bottom-right-radius: 50px;
        border-top-right-radius: 15% 60%;
        opacity: 0.3;
    }
}

.shadow {
    //It should be changed here and in ImageStyles
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(35, 31, 32, 0.3);
    clip-path: polygon(
            0 0,
            100% 0,
            90% 100%,
            0 100%
    );
    border-top-right-radius: 1000px 10000px;
}

.content {
    position: absolute;
    left: 8px;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.shadowar {
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(35, 31, 32, 0.3);
    clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            10% 100%
    );
    border-top-left-radius: 1000px 10000px;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.visionShadow {
    background-color: rgba(35, 31, 32, 0.3);
}

.vertStyle {
    //background-color: rgba(35, 31, 32, 0.3);
    color: #fff;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: #E02027;
        width: 5px;
        height: 100px;
    }

    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        background-color: #E02027;
        width: 5px;
        height: 100px;
    }
}

.horStyle {
    //background-color: rgba(35, 31, 32, 0.3);
    color: #fff;
    &:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        background-color: #E02027;
        height: 5px;
        width: 100px;
    }

    &:after {
        position: absolute;
        bottom: 0;
        right: 0;
        content: "";
        background-color: #E02027;
        height: 5px;
        width: 100px;
    }
}

.titleBorder {
    border-bottom: 5px solid #E02027;
    width: fit-content;
}
