@import '../../../../../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-icons/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../../../../../node_modules/@syncfusion/ej2-richtexteditor/styles/material.css';

.cke-box-shadow {
    box-shadow: 0 0 15px -1px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0 0 15px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 15px -1px rgba(0,0,0,0.75);
}
